{% extends "base.html" %}

{% block title_head %}
Sobre nosotros
{% endblock title_head %}

{% block h1_header %}
Sobre nosotros
{% endblock h1_header %}

{% block header %}{% endblock header %}

{% block main %}
<div class="parrafo">
    <h1>Sobre Agustin</h1>
    <p>A los 8 años le pregunté a mi madre por qué en un capitulo del laboratorio de dexter, en el que
        dexter se metía dentro de una pc habían ceros y unos por toda la pantalla. Mi madre, con mucha 
        paciencia me explicó. En el momento no entendí nada, pero eso despertó en mi un interés por la
        programación que sigue vigente al día de hoy. 
    </p>
    <p>
        A los 12 años encontré un libro de programación en pascal, el cual me puse a leerlo. En el 
        momento tampoco entendí nada pero supe que me quería dedicar a eso. Desde mis 22 años puedo decir 
        que lo logré. Y acá ando, tratando de aprender todos los días cosas nuevas y mejorando.
    </p>
    <p>
        También aspiro a ser maestro Pokemon. Tengo que ser siempre el mejor, mejor que nadie más. Atraparlos 
        mi prueba es, entrenarlos mi ideal.
    </p>
</div>

{% endblock main %}