{% extends "base.html" %}

{% block title_head %}
Alta Productos
{% endblock title_head %}

{% block h1_header %}
Alta Productos
{% endblock h1_header %}

{% block header %}{% endblock header %}

{% block main %}
<div class="centrarFormulario">
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong class="text-dark">{{ message }}</strong>
        </div>
        {% endfor %}
    {% endif %}
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="nombre_producto" class="elementosFormulario">Nombre de producto:</label><br>
        <input type="text" name="nombre_producto" id="nombre_producto" class="elementosFormulario"><br>
        
        <label for="stock" class="elementosFormulario">Stock</label><br>
        <input type="number" name="stock" id="stock" class="elementosFormulario"><br>
        
        <label for="categoria" class="elementosFormulario">Categoría:</label><br>
        <select name="categoria" id="categoria"  class="elementosFormulario">
            {% for c in categorias %}
            <option value ="{{c.id}}">{{c.nombre_categoria}}</option>
            {% endfor %}
        </select><br>

        <label for="id_imagen">Imagen:</label>
        <input type="file" name="imagen" accept="image/*"> <br>

        
        <input type="submit" class="botonFormulario" value="Crear">
    </form>
</div>

{% endblock main %}