{% extends "base.html" %}

{% block title_head %}
Alta Usuarios
{% endblock title_head %}

{% block h1_header %}
Alta Usuarios
{% endblock h1_header %}

{% block header %}{% endblock header %}

{% block main %}
<div class="centrarFormulario">
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong class="text-dark">{{ message }}</strong>
        </div>
        {% endfor %}
    {% endif %}
    <form action="{% url 'editarProducto' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" value="{{producto.id}}" id="idProducto" name="idProducto">
        <label for="nombre_producto" class="elementosFormulario">Nombre de producto:</label><br>
        <input type="text" value="{{producto.nombre_producto}}" name="nombre_producto" id="nombre_producto" class="elementosFormulario"><br>
        
        <label for="stock" class="elementosFormulario">Stock</label><br>
        <input type="number" value="{{producto.stock}}" name="stock" id="stock" class="elementosFormulario"><br>
        
        <label for="categoria" class="elementosFormulario">Categoría:</label><br>
        <select name="categoria" id="categoria" value="{{producto.categoria}}  class="elementosFormulario">
            {% for c in categorias %}
                {% if c.id ==  producto.categoria.id %}
                    <option value ="{{c.id}}" selected>{{c.nombre_categoria}}</option>
                {% else %}
                        <option value="{{ c.id }}">{{ c.nombre_categoria }}</option>
                {% endif %}
           
            {% endfor %}
            <!-- Acá debería estar listando de la base pero ya no quiero más nada con esta entrega, para la próxima será-->
        </select><br>
        {% if 'productos/' in producto.imagen.url %}
        <img src="/media/{{producto.imagen}}" width="200px">
        {% else %}
        <img src="/media/productos/default.jpg" width="200px">
        {% endif %}
        <label for="id_imagen">Imagen:</label>
        <input type="file" name="imagen" accept="image/*"> <br>
        
        <input type="submit" class="botonFormulario" value="Actualizar">
    </form>
</div>

{% endblock main %}