{% extends "base.html" %}

{% block title_head %}
Productos
{% endblock title_head %}

{% block h1_header %}
Productos
{% endblock h1_header %}

{% block main %}
    <div style="width:30%;" class="divBuscar">
        <form action="">
            <input type="text" name="buscar" class="elementoFormularioBuscar" placeholder="Buscar...">
            <input type="submit" value="Buscar" class="botonBuscar">
        </form>
    </div>
    <div class="divAlert" >
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong class="text-dark">{{ message }}</strong>
        </div>
        {% endfor %}
    {% endif %}
    </div>
   
    {% if mensaje %}
        <p>{{ mensaje }}</p>
    {% endif %}
    <div class="listado">
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Categoria</th>
                        <th colspan="3">Opciones</th>
                    </tr>
                </thead>
                <tbody>
            {% for producto in listado_de_productos %}
                <tr>
                    <td>{{producto.id}}</td>
                    <td>{{producto.nombre_producto}}</td>
                    <td>{{producto.categoria}}</td>
                    <td><a href="edicionProducto/{{producto.id}}" class="btn btn-info">Editar</a></td>
                    <td><a href="eliminarProducto/{{producto.id}}" class="btn btn-danger btnEliminacion">Eliminar</a></td>
                    <td><a href="verMas/{{producto.id}}">Leer más</a></td>
                </tr>
            {% endfor %}
                    </tbody>
                </table>
            </div>
    </div>
    
{% endblock main %}