{% extends "base.html" %}

{% block title_head %}
Usuarios
{% endblock title_head %}

{% block h1_header %}
Usuarios
{% endblock h1_header %}

{% block main %}
    <div style="width:30%;">
        <form action="">
            <input type="text" name="buscar" class="elementoFormularioBuscar" placeholder="Buscar...">
            <input type="submit" value="Buscar" class="botonBuscar">
        </form>
    </div>
    
    <ul>
        {% for usuario in listado_de_usuarios %}
            <li>{{usuario}}</li>
        {% endfor %}
    </ul>
{% endblock main %}